body{
    color: white;
}
body { background: linear-gradient(to right, rgb(0, 0, 0), rgb(27, 111, 144) 10%, rgb(30, 109, 141) 90%, rgb(0, 0, 0) 100%); }
ul{
    display: flex;
    justify-content: space-around;
}

a{
    color: antiquewhite;
    text-decoration: none;
}
img{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid  #4169E1;
}